.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  font-size: 3rem;
  font-weight: 900;
  color: var(--black);
}
.i-name > :nth-child(2) {
  font-size: 3rem;
  font-weight: 900;
  color: var(--orange);
}
.i-name > :nth-child(3) {
  font-size: 14px;
  font-weight: 100;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  height: 2rem;
  width: 6rem;
}
.i-icons {
  display: flex;
  gap: 0;
}
.i-icons > img {
  transform: scale(0.5);
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.67);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  transform: scale(0.69);
  left: -3rem;
  top: -4.9rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}
.i-right > :nth-child(4) {
  transform: scale(0.6);
  top: -16%;
  left: -22%;
}
